.albums{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.album{
  background: rgba(255, 255, 255, .2);
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  padding: 20px;
  color: white;
  font-weight: 100;

  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  align-items: center;
}

.album__artwork{
  width: 100%;
}

.album__details h2{
  font-size: 2rem;
}

.album__details p{
  font-size: 1.5rem;
}